$breakpoints: (
  s: 0,
  m: 768,
  l: 1024
);

@mixin from($point) {
  @media only screen and (min-width: #{map-get($breakpoints, $point)}px) {
    @content
  }
}

@mixin gold-text {
  background: $gold-background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin social-media-icon {
  color: $bright;
  font-size: 40px;
  padding: 10px;
  border-radius: 8px;

  &:hover {
    color: $dark;
    background: $gold;
    background: $gold-background;
  }  
}