@import './imports';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: $bright;
  background-color: $dark;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 20px;
  margin: 0 0 15px 0;
}

a, a:visited {
  color: $bright;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  width: calc(100% - 16px);
  border: 8px solid $bright;
}